@media screen and (min-width: 0px) {
  .articles {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .articles {
    width: 1200px;
    margin: auto;
  }
}

/* Grid properties */
@media screen and (min-width: 0px) {
  .preview {
    display: grid;
    min-height: 0px;
    grid-template-columns: 1fr;  
    grid-template-rows: repeat(2, 1fr);
  }

  .section-heading {
    display: none;
  }
  
  .preview__img {  
    grid-row: 1/3;
  }
  
  .second-row {  
    display: grid;  
    gap: 0.65%;
    grid-template-columns: 1fr;  
  }
}

@media screen and (min-width: 768px) {
  .first-row .preview {
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(2, 1fr);
  }  
  .first-row .preview__img {  
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .first-row .preview__figcaption {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  
  .second-row {  
    gap: 3%;
    row-gap: 1.5%;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .first-row .preview {
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: 1fr;
  }
  
  .first-row .preview__img {  
    grid-column: span 2;
  }
  .first-row .preview__figcaption {
    grid-column: span 1;
    grid-row: 1/3;
  }
  
  .second-row {  
    row-gap: 2%;
    grid-template-columns: repeat(3, 1fr);  
  }
}

/* Styling */

.first-row,
.second-row {
  margin: 1.5rem; 
}

.section-heading {
  font-size: 2rem;
  margin: 2rem 3rem;
  color: var(--text); 
}